@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}